<%- include('../includes/head.ejs') %>
</head>


<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
    <% if(orders.length>0) { %>
        <ul class="orders">
            <%  orders.forEach(order=>{  %>
                <li class="orders__item"><h1>Order - # <%= order._id %></h1>
                    <ul class="orders__products">
                        <%  order.items.forEach(product=>{  %>
                            <li class="orders__products-item"><%= product.title %> (<%= product.quantity %>)</li>  
                        <% }) %>
                    </ul>
                </li>
            <% }) %>
        </ul>
       
        <!-- <%   for (order of orders) {  %>
            <h3>Order - # <%= order._id %></h3>
            <%   for (item of order.items) {  %>
   <h3><%= item.title %> $<%= item.price %>/LB Quantity:<%= item.quantity %></h3>
    <% }  %>
    <% }  %> -->
    <% } else {%>
        <h1>Nothing there!</h1>
    <% }  %>
</main>
<%- include('../includes/end.ejs') %>